<a href="https://colab.research.google.com/github/mgkim-developer/INU-Lab/blob/master/My_Exps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print ("hello world")


print("bye")

hello world
bye

#단순한 프린트를 하는 프로그램

아주쉬운 프로그램을 테스트 중입니다. 안녕하세요.

In [0]:
print('인천대학교')

print('안녕하세요')

인천대학교
안녕하세요

In [0]:
x = 10

In [0]:

for x in range(2, 10):
  for y in range(1, 10):
    print('%d * %d = %d' % (x, y, (x*y)))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [0]:

# file writing
f = open("/content/drive/My Drive/Colab_Data/my_test_out.txt", 'w')

for i in range(1, 11):
  f.write("%d 번째 줄을 출력합니다. \n" % i)

f.close()

In [0]:

#file reading
f = open("/content/drive/My Drive/Colab_Data/my_test_out.txt", 'r')
lines = f.readlines()
for l in lines:
  print(l)
f.close()

1 번째 줄을 출력합니다.

2 번째 줄을 출력합니다.

3 번째 줄을 출력합니다.

4 번째 줄을 출력합니다.

5 번째 줄을 출력합니다.

6 번째 줄을 출력합니다.

7 번째 줄을 출력합니다.

8 번째 줄을 출력합니다.

9 번째 줄을 출력합니다.

10 번째 줄을 출력합니다.