<a href="https://colab.research.google.com/github/mgkim-developer/INU-Lab/blob/master/My_Exps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print ("hello world")


print("bye")

hello world
bye

#단순한 프린트를 하는 프로그램

아주쉬운 프로그램을 테스트 중입니다. 안녕하세요.

In [0]:
print('인천대학교')

print('안녕하세요')

인천대학교
안녕하세요

In [0]:
x = 10

In [0]:

for x in range(2, 10):
  for y in range(1, 10):
    print('%d * %d = %d' % (x, y, (x*y)))